// Code
//––––––––––––––––––––––––––––––––––––––––––––––––––

pre {
  background: darken($dark-grey, 2.4%);
  border-radius: $global-radius;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  margin: 0 0;
  max-width: 100%;
  overflow: auto;
  width: 100%;
  border-left: 5px solid $primary-color;
}
pre > code {
  display: block;
  white-space: pre-wrap;
}
code {
  color: $light-grey;
  background: darken($dark-grey, 2.4%);
  border-radius: $global-radius;
  font-family: $mono;
  font-size: 90%;
  letter-spacing: 0.15rem;
  margin: 0 0;
  padding: .2rem .5rem;
  white-space: pre-wrap;
}


@media (#{$bp-larger-than-mobile}) {
  pre {
    width: 98%;
    margin-left: 2%;
  }
  pre > code {
    display: initial;
    white-space: pre-wrap;
  }
  code {
    white-space: pre-wrap;
  }
}

@media (#{$bp-larger-than-desktop}) {
  pre {
    background: darken($dark-grey, 2.4%);
    border-radius: $global-radius;
    box-sizing: border-box;
    padding: 2rem 3.5rem;
    margin: 0 auto;
    max-width: 100%;
    overflow: auto;
    width: 90%;
    border-left: 5px solid $primary-color;
  }
  pre > code {
    display: block;
    white-space: pre;
  }
  code {
    color: $light-grey;
    background: darken($dark-grey, 2.4%);
    border-radius: $global-radius;
    font-family: $mono;
    font-size: 90%;
    letter-spacing: 0.15rem;
    margin: 0 0;
    padding: .2rem .5rem;
    white-space: nowrap;
  }
}