// Base
// Like Skeleton 62.5% = 10px. Therefore 1.5rem = 15px.

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
}

a {
  color: $link-color;
  &:hover {
    color: darken($link-color, 5%);
  }
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-grey;
}
