
@font-face {
    font-family: "Raleway";
    src: url('./fonts/raleway/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Raleway-Bold";
    src: url('./fonts/raleway/Raleway-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Raleway-Light";
    src: url('./fonts/raleway/Raleway-Light.ttf') format('truetype');
}
@font-face {
    font-family: "Raleway-Thin";
    src: url('./fonts/raleway/Raleway-Thin.ttf') format('truetype');
}

@font-face {
    font-family: "Ubuntu-Mono";
    src: url('./fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}